<li class="collection-item avatar">
  <i class="fa fa-<%= intake.course.icon %> circle light-blue"></i>
  
    <p>
      <span class="title capitals" style="font-size: 1.5em;">
      <%= intake.start_date.strftime('%d %b %Y') %>
      <% unless intake.start_date == intake.end_date %>
       - <%= intake.end_date.strftime('%d %b %Y') %>
      <% end %>
      </span>
      <br>
      <%= intake.days_of_week %>
      <br>
     <%= intake.course_location.name %>, <%= intake.course_location.city %><br>
     Price: 
     <%  if intake.price > 0.0 %>
     	<%= number_to_currency(intake.price) %> + GST
     <% else %>
     	FREE
     <% end %>
     <br>
     <span class="hide-on-med-and-up">
      <a class="light-blue waves-effect waves-light btn" href="/course_bookings/new?intake_id=<%= intake.id %>"><i class="material-icons right">send</i>Book your place</a>
     </span>
  </p>
    <span class="hide-on-small-only">
      <a class="secondary-content light-blue waves-effect waves-light btn btn-large" href="/course_bookings/new?intake_id=<%= intake.id %>"><i class="material-icons right">send</i>Book your place</a>
    </span>
</li>
