<section id="top-section">
<div class="container">
  <div class="row">
    <div class="col m6 offset-m3">
      <h2 class="light-blue-text">Register</h2>
      <div class="card z-depth-3 hoverable">
        <div class="card-content grey-text text-darken-2">
          <span class="card-title orange-text text-darken-2">Become a Coder Factory Club member.</span>
          <p><a href="/users/sign_up">Already a club member? Sign in</a></p>
          <p>Discounts on courses, exclusive events, tutorials and much more.</p>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="row">
              <div class="input-field col s6">
                  <%= f.input :first_name, required: true %>
              </div>
              <div class="input-field col s6">
                  <%= f.input :last_name, required: true %>
              </div>
            </div>
            <div class="input-field">
              <%= f.input :phone, :placeholder => "123-123-1234", required: false%>
            </div>
            <div class="input-field">
              <%= f.input :email, required: true %>
            </div>
            <div class="input-field">
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "Join the club" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


