<p id="notice"><%= notice %></p>

<h1>Listing Prequestionnaires</h1>

<table>
  <thead>
    <tr>
      <th>Course booking</th>
      <th>Reason</th>
      <th>Background</th>
      <th>Experience</th>
      <th>Hobbies</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @prequestionnaires.each do |prequestionnaire| %>
      <tr>
        <td><%= prequestionnaire.course_booking.user.name if prequestionnaire.course_booking %></td>
        <td><%= prequestionnaire.reason %></td>
        <td><%= prequestionnaire.referrer %></td>
        <td><%= link_to 'Show', prequestionnaire %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prequestionnaire', new_prequestionnaire_path %>
