<h1>Booking received</h1>
<p>
  <strong>Course intake:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @booking.price %>
</p>

<p>
  <strong>Promo code:</strong>
  <%= @booking.promo_code %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @booking.paid %>
</p>
