<div class="container">
   <ul class="collection with-header z-depth-3">
      <li class="collection-header"><h3><i class="fa fa-angle-right light-blue-text"></i> Coder Factory Workshops</h3></li>
  </ul>
  <div class="row">
    <% @workshops.each do |course| %>
        <div class="col s6">
          <div class="card grey-text text-darken-2 hoverable z-depth-1">
            <div class="card-content" style="height: 200px;">
              <span class="card-title grey-text text-darken-2"><i class="fa fa-<%= course.icon %>"></i> <%= course.name %> 
              </span><br>
              <span class="card-title grey-text text-darken-2"><small class="light-blue-text" style="text-transform: uppercase;"><%= course.course_type.name if course.course_type %></small></span>
              <p><%= course.tagline %></p>
            </div>
            <div class="card-action">
              <%= link_to "See more details", course_path(course) %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col s6">
    <ul class="collection with-header z-depth-3">
        <li class="collection-header"><h3><i class="fa fa-angle-right light-blue-text"></i> Part Time Courses</h3></li>
    </ul>
  </div>
  <div class="row">
    <% @part_time_courses.each do |course| %>
       
        <div class="col s6">
          <div class="card grey-text text-darken-2 hoverable z-depth-1">
            
            <div class="card-content" style="height: 200px;">
              <span class="card-title grey-text text-darken-2"><i class="fa fa-<%= course.icon %>"></i> <%= course.name %> 
              </span><br>
              <span class="card-title grey-text text-darken-2"><small class="light-blue-text" style="text-transform: uppercase;"><%= course.course_type.name if course.course_type %></small></span>
              <p><%= course.tagline %></p>
            </div>
            <div class="card-action">
              <%= link_to "See more details", course_path(course) %>
            </div>
          </div>
        </div>
      
    <% end %>
  </div>
  <ul class="collection with-header z-depth-3">
      <li class="collection-header"><h3><i class="fa fa-angle-right light-blue-text"></i> Business Workshops</h3></li>
  </ul>
  <div class="row">
    <% @business_courses.each do |course| %>
       
        <div class="col s6">
          <div class="card grey-text text-darken-2 hoverable z-depth-1">
            
            <div class="card-content" style="height: 200px;">
              <span class="card-title grey-text text-darken-2"><i class="fa fa-<%= course.icon %>"></i> <%= course.name %> 
              </span><br>
              <span class="card-title grey-text text-darken-2"><small class="light-blue-text" style="text-transform: uppercase;"><%= course.course_type.name if course.course_type %></small></span>
              <p><%= course.tagline %></p>
            </div>
            <div class="card-action">
              <%= link_to "See more details", course_path(course) %>
            </div>
          </div>
        </div>
      
    <% end %>
  </div>
  <ul class="collection with-header z-depth-3">
      <li class="collection-header"><h3><i class="fa fa-angle-right light-blue-text"></i> Full Time Intensive</h3></li>
  </ul>
  <div class="row">
    <% @fast_track.each do |course| %>
       
        <div class="col s6">
          <div class="card grey-text text-darken-2 hoverable z-depth-1">
            
            <div class="card-content" style="height: 200px;">
              <span class="card-title grey-text text-darken-2"><i class="fa fa-<%= course.icon %>"></i> <%= course.name %> 
              </span><br>
              <span class="card-title grey-text text-darken-2"><small class="light-blue-text" style="text-transform: uppercase;"><%= course.course_type.name if course.course_type %></small></span>
              <p><%= course.tagline %></p>
            </div>
            <div class="card-action">
              <%= link_to "See more details", course_path(course) %>
            </div>
          </div>
        </div>
      
    <% end %>
  </div>
</div>