<section id="<%= course_detail.name %>" class="<%= course_detail.color %>">
	<div class="container">
		<div class="row">
			<div class="col m1">
				<h2><i class="fa fa-<%= course_detail.icon %>"></i></h2>
			</div>
			<div class="col m11">
			 	<h2><%= course_detail.name %></h2>
			</div>
		</div>
		<div class="row">
			<div class="col m10 offset-m1">
			<p class="flow-text"><%= course_detail.tagline %></p>
			<p>
				<a class="white black-text waves-effect waves-light btn modal-trigger" href="#modal<%= course_detail.id %>"><i class="material-icons right">help</i>More info</a>
			</p>
			
			<ul class="collection hoverable z-depth-3">
            <%= render partial: 'course_intakes/upcoming_course_intake', collection: course_detail.course_intakes.upcoming, as: :intake %>
        </ul>
			</div>
		</div>
	</div>
</section>

<!-- MODAL -->
<div id="modal<%= course_detail.id %>" class="modal bottom-sheet">
	<div class="container">
		<div class='row'>
			<div class="col m10 offset-m1">
    		<div class="modal-content">
    			<h4><i class="fa fa-<%= course_detail.icon %>"></i> <%= course_detail.name %></h4>
      		<p><%= course_detail.description.html_safe if course_detail.description %></p>
      	</div>
      	<div class="modal-footer">
      	  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      	</div>
    	</div>
    </div>
  </div>
</div>