<div class="container">
   <ul class="collection with-header z-depth-3">
      <li class="collection-header"><h3><i class="fa fa-angle-right light-blue-text"></i> Coder Factory Workshops</h3></li>
      <% @workshops.each do |course| %>
        <li class="collection-item ">
          <span class="capitals"><h6><i class="fa fa-<%=course.icon %>"> </i> <%= course.name %> <small class="light-blue-text" style="display:inline;text-transform: uppercase;"> <%= course.course_type.name if course.course_type %></small></h6></span>

          <div class="row hide-on-small-only">
            <div class="col s8"><p><i><%= course.tagline %></i></p></div>
            <div class="col s4 capitals right-align">
              <%= link_to "See more details", course_path(course) , class: 'orange white-text waves-effect waves-light btn btn-large' %>
            </div>
          </div>
          <div class="row hide-on-med-and-up">
            <div class="col s8"><p><i><%= course.tagline %></i></p></div>
            <br>
            <div class="col s12 capitals right-align">
              <%= link_to "More details", course_path(course) , class: 'orange white-text waves-effect waves-light btn' %>
            </div>
          </div>
        </li>
      <% end %>
  </ul>

  <ul class="collection with-header z-depth-3">
    <li class="collection-header"><h3><i class="fa fa-angle-right light-blue-text"></i> Part Time Courses</h3></li>
    <% @part_time_courses.each do |course| %>
      <li class="collection-item ">
        <span class="capitals"><h6><i class="fa fa-<%=course.icon %>"> </i> <%= course.name %> <small class="light-blue-text" style="display:inline;text-transform: uppercase;"> <%= course.course_type.name if course.course_type %></small></h6></span>
        <div class="row hide-on-small-only">
          <div class="col s8"><p><i><%= course.tagline %></i></p></div>
          <div class="col s4 capitals right-align">
            <%= link_to "See more details", course_path(course) , class: 'orange white-text waves-effect waves-light btn btn-large' %>
          </div>
        </div>
        <div class="row hide-on-med-and-up">
          <div class="col s8"><p><i><%= course.tagline %></i></p></div>
          <br>
          <div class="col s12 capitals right-align">
            <%= link_to "More details", course_path(course) , class: 'orange white-text waves-effect waves-light btn' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <ul class="collection with-header z-depth-3">
    <li class="collection-header"><h3><i class="fa fa-angle-right light-blue-text"></i> Business or School Programs</h3></li>
    <% @business_courses.each do |course| %>
      <li class="collection-item ">
        <span class="capitals"><h6><i class="fa fa-<%=course.icon %>"> </i> <%= course.name %> <small class="light-blue-text" style="display:inline;text-transform: uppercase;"> <%= course.course_type.name if course.course_type %></small></h6></span>

        <div class="row hide-on-small-only">
          <div class="col s8"><p><i><%= course.tagline %></i></p></div>
          <div class="col s4 capitals right-align">
            <%= link_to "See more details", course_path(course) , class: 'orange white-text waves-effect waves-light btn btn-large' %>
          </div>
        </div>
        <div class="row hide-on-med-and-up">
          <div class="col s8"><p><i><%= course.tagline %></i></p></div>
          <br>
          <div class="col s12 capitals right-align">
            <%= link_to "More details", course_path(course) , class: 'orange white-text waves-effect waves-light btn' %>
          </div>
        </div>
      </li>
    <% end %>
    <% @school_courses.each do |course| %>
      <li class="collection-item ">
        <span class="capitals"><h6><i class="fa fa-<%=course.icon %>"> </i> <%= course.name %> <small class="light-blue-text" style="display:inline;text-transform: uppercase;"> <%= course.course_type.name if course.course_type %></small></h6></span>

        <div class="row hide-on-small-only">
          <div class="col s8"><p><i><%= course.tagline %></i></p></div>
          <div class="col s4 capitals right-align">
            <%= link_to "See more details", course_path(course) , class: 'orange white-text waves-effect waves-light btn btn-large' %>
          </div>
        </div>
        <div class="row hide-on-med-and-up">
          <div class="col s8"><p><i><%= course.tagline %></i></p></div>
          <br>
          <div class="col s12 capitals right-align">
            <%= link_to "More details", course_path(course) , class: 'orange white-text waves-effect waves-light btn' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
 
  <ul class="collection with-header z-depth-3">
    <li class="collection-header"><h3><i class="fa fa-angle-right light-blue-text"></i> Full Time Intensive</h3></li>
    <% @fast_track.each do |course| %>
      <li class="collection-item ">
        <span class="capitals"><h6><i class="fa fa-<%=course.icon %>"> </i> <%= course.name %> <small class="light-blue-text" style="display:inline;text-transform: uppercase;"> <%= course.course_type.name if course.course_type %></small></h6></span>

        <div class="row hide-on-small-only">
          <div class="col s8"><p><i><%= course.tagline %></i></p></div>
          <div class="col s4 capitals right-align">
            <%= link_to "See more details", course_path(course) , class: 'orange white-text waves-effect waves-light btn btn-large' %>
          </div>
        </div>
        <div class="row hide-on-med-and-up">
          <div class="col s8"><p><i><%= course.tagline %></i></p></div>
          <br>
          <div class="col s12 capitals right-align">
            <%= link_to "More details", course_path(course) , class: 'orange white-text waves-effect waves-light btn' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>