<section id="<%= course_detail.name %>" class="grey lighten-2">
<div class="hide-on-small-only">
	<div class="container z-depth-3 white">
		<div class="row">
			<div class="col m10 offset-m1 black-text">
				<h3>
					<span class="light-blue-text"><i class="fa fa-<%= course_detail.icon %>"></i>
					</span>
					<%= course_detail.name %>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col m10 offset-m1">
			<p class="flow-text"><%= course_detail.tagline %></p>
			<ul class="collapsible" data-collapsible="accordion">
		    <li>
		      <div class="collapsible-header"><i class="material-icons right">help</i> More info</div>
		      <div class="collapsible-body"><%= course_detail.description.html_safe if course_detail.description %></div>
		    </li>
			</ul>
			
			
			<ul class="collection">
        <%= render partial: 'course_intakes/upcoming_intakes', collection: course_detail.course_intakes.upcoming, as: :intake %>
      </ul>
			</div>
		</div>
	</div>
	</div>
	<div class="hide-on-med-and-up">
		<div class="card">
			<div class="card-content black-text">
				<span class="card-title black-text"><%= course_detail.name %></span>
				<p class="flow-text"><%= course_detail.tagline %></p>
				<ul class="collection">
        	<%= render partial: 'course_intakes/upcoming_intakes', collection: course_detail.course_intakes.upcoming, as: :intake %>
      	</ul>
			</div>
		</div>

	</div>
</section>

