<%= content_for :title, 'Join the Coder Factory Community' %>
<%= content_for :description, 'Check out the great community events and supportive partners. Join our thriving community of creators, makers and coders.' %>

<section class="light-blue community valign-wrapper" id="top-section">
	<div class="container">
	<center>
          <svg width="1100" height="120" style="font-family: 'minerva-modern';">
            <text fill="black" fill-opacity="0.2" font-weight="800" font-size="6em" x="520" y="100" text-anchor="middle" stroke="#fff" stroke-width="2px">We Love Community</text>
          </svg>
    
    <div class="down-arrow">
    	<br><br><i class="material-icons medium white-text">keyboard_arrow_down</i>
    </div>
  </center>
</div>
</section>

<% unless user_signed_in? %>
<section class="grey lighten-2">
<div class="container">
<%= render 'layouts/club' %>
</div>
</section>
<% end %>

<section>
	<div class="card">
	  <div class="card-content">
	    <div class="container">
				<%= render 'volunteer' %>
			</div>
	  </div>
	</div>
</section>

<section>
	<div class="card">
	  <div class="card-content">
	    <div class="container">
				<%= render 'coder_club' %>
			</div>
	  </div>
	</div>
</section>