<style>
#customElement {background-image: url(<%= asset_path 'car.jpg' %>);}
</style>
<% @video_code = 'kUu-o7mnBDk' %>
<%= render 'layouts/top_bar' %>
<section class="grey lighten-2">
  <div class="container">
    <h2>Upcoming courses</h2>
    <ul class="collection hoverable z-depth-3">
      <%= render partial: 'course_intakes/upcoming_course_intake', collection: @upcoming_course_intakes, as: :intake %>
    </ul>
  </div>
</section>

<!-- TECH HEROES -->
<section id="tech-heroes">
<div class="container">
<h1 class="center-align white-text">Be a tech hero!</h1>
</div>
</section>

<!-- COMMUNITY -->
<section class="grey lighten-2">
<div class="container">
<%= render 'layouts/club' %>
</div>

</section>
<!-- TESTIMONIALS -->
<section id="testimonials" class="white">
<div class="container">
<h2>What our students say...</h2>
<div class="row"><div class="col s12">
  <div class="slider hoverable z-depth-3">
    <ul class="slides">
      <li>
        <img src="<%= asset_path 'julia.jpg' %>">
        <div class="caption right-align">
          
          <h3>&nbsp;</h3>
          <p class="light grey-text text-lighten-3 flow-text">Learning to code changed my life.<br>I live half the year<br> in Bali as a digital nomad.</p>
          <p>- Julia Clavien, Web Designer</p>
        </div>
      </li>
      <li>
        <img src="<%= asset_path 'heloise.jpg' %>">
        <div class="caption left-align">
          <p class="light grey-text text-lighten-3 flow-text">If you want to work in tech,<br> you need to know code. <br>Coder Factory taught me how.</p>
          <p>- Héloïse Lakermance</p>
        </div>
      </li>
      <!-- <li>
        <img src="http://lorempixel.com/580/250/nature/3">
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li> -->
    </ul>
  </div>
  </div></div></div>
</section>

<!-- INSIDE CODER FACTORY -->
<section id="inside-cf" class="grey darken-4">
  <div class="container">
    <h2 class="white-text">Inside Coder Factory</h2>
    <div class="row">
      <div class="col s12 m6" id="inside-coder-factory">
        <a href="https://www.youtube.com/watch?v=d_09xRdOMlU" target="_blank">
          <img src="<%= asset_path 'vid.jpg' %>" class="responsive-img ">
          <p class="flow-text center-align"><i class="fa fa-play-circle"></i> Hear from our students.</p>
        </a>
      </div>
      
      <div class="col s12 m6">
        <a href="https://www.youtube.com/watch?v=OW1djJd9Fu0" target="_blank">
          <img src="<%= asset_path 'learn-to-code.jpg' %>" class="responsive-img">
          <p class="flow-text center-align"><i class="fa fa-play-circle"></i> Why you should learn to code.</p>
        </a>
      </div>
      
  </div>
</section>

<!-- PARTNERS -->
<section class="white hide-on-small-only">
<%= render 'layouts/partners' %>
</section>

<!-- COURSES -->
<section class="grey lighten-2">
  <div class="container">
    <h2 class="grey-text text-darken-2">Workshops</h2>   
    <div class="row"> 
      <div class="col-s12">
        <div class="card grey-text text-darken-2 hoverable z-depth-3">
          <div class="card-image">
            <a href="/coder-factory-workshops-for-beginners">
              <img src="<%= asset_path 'beginner-sm.jpg' %>">
              
            </a>
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-2">Learn fast. Have fun.</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="/coder-factory-workshops-for-beginners">See more details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grey lighten-2">
  <div class="container">
    <h2 class="grey-text text-darken-2">Part Time Courses</h2>
    <div class="row"> 
      <div class="col-s12">
        <div class="card grey-text text-darken-2 hoverable z-depth-3">
          <div class="card-image">
            <a href="/coder-factory-workshops-for-beginners">
              <img src="<%= asset_path 'part-time-sm.jpg' %>">
            </a>
          </div>
          <div class="card-content">
              <span class="card-title grey-text text-darken-2">Learn fast. Have fun.</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="/coder-factory-workshops-for-beginners">See more details</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
<section class="grey lighten-2">
  <div class="container">
    <h2 class="grey-text text-darken-2">Business Courses</h2>
    <div class="row">
      <div class="col s12"> 
      <div class="col-s12">
        <div class="card grey-text text-darken-2 hoverable z-depth-3">
          <div class="card-image">
            <a href="/coder-factory-workshops-for-beginners">
              <img src="<%= asset_path 'business-sm.jpg' %>">
            </a>
          </div>
          <div class="card-content">
              <p><span class="card-title grey-text text-darken-2">Learn fast. Have fun.</span></p>

            <p>Tagline goes here.</p>
          </div>
          <div class="card-action">
            <a href="/coder-factory-workshops-for-beginners">See more details</a>
          </div>
        </div>
      </div>
        
      </div>
    </div>
</div>
</section>