<%= content_for :title, "Learn to Code @CoderFactory" %>
<% @video = true %>
<section class="blue">
  <div class="container">
    <h2>Upcoming courses</h2>
    <ul class="collection hoverable z-depth-3">
      <%= render partial: 'course_intakes/upcoming_course_intake', collection: @upcoming_course_intakes, as: :intake %>
    </ul>
    <br>
  </div>
</section>
<div class="parallax-container">
  <div class="parallax"><img src="<%= asset_path 'heroes2.jpg' %>"></div>

  <div id="club-hero" class="container white-text">
    <!-- <h2 class="">Join the Coder Factory Club</h2> -->
    <div class="row">
      <div class="col m4">
       <ul class="hero-list">
       <li>* Free workshops</li>
       <li>* Discounts</li>
       <li>* Exclusive events</li>
       <li>* Tutorials & Resources</li>
       </ul>
      </div>
      <div class="col m4">
      <ul class="hero-list">
        <li>Connect to Coder Factory students for support and encouragement</li>
        </ul>
      </div>
      <div class="col m4">
        <div class="card hoverable blue z-depth-3">
          <div class="card-content">
            <div class="row"><div class="col m12">
              <span class="card-title white-text"><i class="material-icons medium left">card_membership</i> Join the Coder Factory Club</span>
            </div></div>
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
              <div class="row">
                <div class="input-field col s6">
                    <%= f.input :first_name, required: true %>
                </div>
                <div class="input-field col s6">
                    <%= f.input :last_name, required: true %>
                </div>
              </div>
              <div class="input-field">
                <%= f.input :email, required: true %>
              </div>
              <div class="input-field">
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Join the club" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



<section class="">
  <div class="container">
    <h2>Workshops</h2>
    <p>Testing</p>
    <div class="row">
      <div class="col m12">
        <ul class="collapsible hoverable " data-collapsible="accordion">
          
          <%= render @workshops %>
        </ul>
      </div>
    
    </div>
      
  </div>
</section>
<section class="">
  <div class="container">
    <h2>Part Time Courses</h2>
    <div class="row">
      <div class="col m12">
        <ul class="collapsible hoverable popout" data-collapsible="accordion">
          <%= render @part_time_courses %>
          </ul>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <h2>Business Courses</h2>
    <div class="row">
      <div class="col m12">
        <ul class="collapsible hoverable popout" data-collapsible="accordion">
          <%= render @business_courses %>
          </ul>
      </div>
    </div>
    <h2>School Courses</h2>
    <div class="row">
      <div class="col m12">
        <ul class="collapsible hoverable popout" data-collapsible="accordion">
          <%= render @school_courses %>
          </ul>
      </div>
    </div>
  </div>
</section>
<section class="">
  <div class="container">
    <h2>Fast Track Intensive</h2>
    <div class="row">
      <div class="col m12">
        
      </div>
  </div>
</section>

<!-- INSIDE CODER FACTORY VIDEO MODAL -->
<!-- Modal Structure -->
  <div id="modal1" class="modal video-dialog">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <div id="videoDialogPlayer" class="vidflex"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

