<% @video = true %>
<% @video_code = 'kUu-o7mnBDk' %>
<section class="grey lighten-2">
  <div class="container">
    <h2>Upcoming courses</h2>
    <ul class="collection hoverable z-depth-3">
      <%= render partial: 'course_intakes/upcoming_course_intake', collection: @upcoming_course_intakes, as: :intake %>
    </ul>
  </div>
</section>

<section id="testimonials">
<div class="container">
<h2>What our students say...</h2>
<div class="row"><div class="col s12">
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="<%= asset_path 'julia.jpg' %>"> <!-- random image -->
        <div class="caption right-align">
          
          <h3>&nbsp;</h3>
          <p class="light grey-text text-lighten-3 flow-text">Here's our small slogan.</p>
          <p>- Julia Clavien, Web Designer</p>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
  </div></div></div>
</section>

<section id="inside-cf" class="black">
  <div class="container">
    <h2 class="white-text">Inside Coder Factory</h2>
    <div class="row">
      <div class="col s12 m6" id="inside-coder-factory">
        <a href="https://www.youtube.com/watch?v=d_09xRdOMlU" target="_blank">
          <img src="<%= asset_path 'vid.jpg' %>" class="responsive-img">
          <p class="flow-text center-align"><i class="fa fa-play-circle"></i> Hear from our students.</p>
        </a>
      </div>
      
      <div class="col s12 m6">
        <a href="https://www.youtube.com/watch?v=OW1djJd9Fu0" target="_blank">
          <img src="<%= asset_path 'learn-to-code.jpg' %>" class="responsive-img">
          <p class="flow-text center-align"><i class="fa fa-play-circle"></i> Why you should learn to code.</p>
        </a>
      </div>
      
  </div>
</section>

<section class="grey lighten-2">
  <div class="container">
    <h2 class="black-text">Workshops</h2>   
    <div class="row"> 
      <div class="col-s12">
        <div class="card black-text">
          <div class="card-image">
            <a href="/coder-factory-workshops-for-beginners">
              <img src="<%= asset_path 'workshops.jpg' %>">
              <span class="card-title black-text">Learn fast. Have fun.</span>
            </a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="/coder-factory-workshops-for-beginners">See more details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="grey lighten-2">
  <div class="container">
    <h2 class="black-text">Part Time Courses</h2>
    <div class="row"> 
      <div class="col-s12">
        <div class="card black-text">
          <div class="card-image">
            <a href="/coder-factory-workshops-for-beginners">
              <img src="<%= asset_path 'workshops.jpg' %>">
              <span class="card-title black-text">Learn fast. Have fun.</span>
            </a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="/coder-factory-workshops-for-beginners">See more details</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
<section class="grey lighten-2">
  <div class="container">
    <h2 class="black-text">Business Courses</h2>
    <div class="row">
      <div class="col s12"> 
      <div class="col-s12">
        <div class="card black-text">
          <div class="card-image">
            <a href="/coder-factory-workshops-for-beginners">
              <img src="<%= asset_path 'workshops.jpg' %>">
              <span class="card-title black-text">Learn fast. Have fun.</span>
            </a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="/coder-factory-workshops-for-beginners">See more details</a>
          </div>
        </div>
      </div>
        
      </div>
    </div>
    <h2 class="black-text">School Courses</h2>
    <div class="row">
      <div class="col s12"> 
      <div class="col-s12">
        <div class="card black-text">
          <div class="card-image">
            <a href="/coder-factory-workshops-for-beginners">
              <img src="<%= asset_path 'workshops.jpg' %>">
              <span class="card-title black-text">Learn fast. Have fun.</span>
            </a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="/coder-factory-workshops-for-beginners">See more details</a>
          </div>
        </div>
      </div>
        
      </div>
    </div>
  </div>
</section>
<section class="grey lighten-2">
  <div class="container">
    <h2 class="black-text">Fast Track Intensive</h2>
    <div class="row">
      <div class="col s12"> 
      <div class="col-s12">
        <div class="card black-text">
          <div class="card-image">
            <a href="/coder-factory-workshops-for-beginners">
              <img src="<%= asset_path 'workshops.jpg' %>">
              <span class="card-title black-text">Learn fast. Have fun.</span>
            </a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="/coder-factory-workshops-for-beginners">See more details</a>
          </div>
        </div>
      </div>
        
      </div>
  </div>
</section>