<div class="container">
<div class="row">
  <div class="col s12">
    <h2>JOIN OUR NETWORK</h2>
    <div class="card">
      <div class="card-content">
        <h4>We love our Partners</h4>
        <p>Does your company need more front-end, back-end, and full-stack web developers? Coder Factory Academy specialises in connecting our partners with quality controlled interns and new hires. Students of our rigorous, full-time coding course graduate yearning to make an impact and drive innovation across the tech industry.</p>
      </div>
    </div>
  </div>
  <div class="col s12">
    <h2>WANT TO BECOME A PARTNER?</h2>
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col m2 s4">
            <a href="http://coderangers.com.au/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/coderangers.png' %>" alt="Code Rangers">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="https://www.dropbox.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/dropbox.png' %>" alt="Dropbox">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="http://www.woman.com.au/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/womancomau.jpg' %>" alt="Woman">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="https://muru-d.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/murud.png' %>" alt="muru-D">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="http://www.spacecubed.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/spacecubed.png' %>" alt="Spacecubed">
            </a>
          </div>
          <div class="col m2 s4">     
            <a href="http://foundrmag.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/foundr.png' %>" alt="FoundR">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col m2 s4">
            <a href="https://www.coinjar.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/coinjar.png' %>" alt="Coinjar">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="http://www.pozible.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/pozible.png' %>" alt="Pozible">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="http://www.crowdsourcehire.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/crowdsourcehire.png' %>" alt="Crowd Source Hire">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="http://kapcher.co/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/kapcher.png' %>" alt="Kapcher">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="https://www.airpair.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/airpair.png' %>" alt="Airpair">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="http://www.sitepoint.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/sitepoint.png' %>" alt="Sitepoint">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col m2 s4">
            <a href="http://www.getvero.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/getvero.png' %>" alt="Vero">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="https://flippa.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/flippa.jpg' %>" alt="Flippa">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="https://zoak.solutions/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/Zoak.png' %>" alt="Zoak">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="http://www.dreamscapenetworks.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/dreamscape.png' %>" alt="Dreamscape">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="http://www.locomote.com/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/locomote.jpg' %>" alt="Locomote">
            </a>
          </div>
          <div class="col m2 s4">
            <a href="http://ngny.com.au/" target="_blank" class="">
              <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/ngny.png' %>" alt="Locomote">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h4>Become a partner today!</h4>
            <p>Scout your next best employee in our community.</p>
            <center>
              <a href="/contact" class="btn-large black-text info-session-button waves-effect waves-light">CONTACT OUR TEAM</a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
