<p id="notice"><%= notice %></p>

<h1>Survey Forms (<%= @survey_forms.count %>)</h1>

<table>
  <thead>
    <tr>
      
      <th>Name</th>
      <th>Email</th>
      <th>Industry</th>
      <th>Skills</th>
      <th>Company</th>
      <th>Comments</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_forms.each do |survey_form| %>
      <tr>
        <td><%= survey_form.name %></td>
        <td><%= survey_form.email %></td>
        <td><%= survey_form.industry %></td>
        <td><%= survey_form.skills %></td>
        <td><%= survey_form.company %></td>
        <td><%= survey_form.comments %></td>
        <td><%= link_to 'Show', survey_form %></td>
        <td><%= link_to 'Destroy', survey_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey form', new_survey_form_path %>
