
<div class="container">
	<div class="row">
	  <div class="col s12 m8 offset-m2">
	  	<h2>Thanks <%= current_user.first_name %></h2>
	  	<p class="flow-text">Finalise your booking by paying below.</p>
	    <div class="card z-depth-3 hoverable">
	      <div class="card-content black-text">
	        <span class="card-title black-text">Course name: <%= @course.name %></span>
	        <div class="row">
	        	<div class="col m6">
	        <table>
	        	<tr>
	        		<th>Course price:</th><td class="right-align"> <%= number_to_currency(@course_intake.price) %></td>
	        	</tr>
	        <% if @booking.discount %>
	        	<tr>
	        		<th>Discount:</th><td class="right-align"> <%= number_to_currency(@booking.discount) %></td>
	        	</tr>
	        <% end %>
	        	<tr>
	        		<th>GST:</th><td class="right-align"> <%= number_to_currency(@booking.gst) %></td>
	        	</tr>
	        	<tr>
	        		<th>Amount due:</th><th class="right-align"> <%= number_to_currency(@booking.price + @booking.gst) %></th>
	        	</tr>
	        </table>
	        </div></div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

