<section class="<%= course.color %>">
  <div class="container">
  <h1><i class="fa fa-<%= course.icon %>"></i> <%= course.name %> </h1>
  <!-- <span class="course-type">PART TIME</span> <span class="course-type">ENTREPRENEUR</span> -->
  <p class="flow-text">
    <%= course.tagline %>
  </p>
<% if course.course_intakes.upcoming.any? %>
  <h4>Next course starts soon (<%= distance_of_time_in_words(course.course_intakes.next.start_date, Date.today) %>)</h4>
  <ul class="collection">
    <%= render partial: 'course_intakes/upcoming_intakes', collection: course.course_intakes.upcoming, as: :intake %>
  </ul>
<% end %>
<h4>Program information</h4>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header light-blue white-texts"><i class="material-icons">info_outline</i>OVERVIEW</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <%= course.description.html_safe %>
      <br>
    </div>
  </li>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">supervisor_account</i>AUDIENCE</div>
    <div class="collapsible-body white grey-text text-darken-2"><p><%= course.audience.html_safe %></p></div>
  </li>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">tune</i>PRE-REQUISITES</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.prerequisites.html_safe %>
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">assignment_turned_in</i>OUTCOMES</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.outcomes.html_safe %>
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">query_builder</i>FORMAT</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.format.html_safe %>
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">local_atm</i>PAYMENT OPTIONS</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.payment.html_safe %>
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">brightness_3</i>HOMEWORK</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.homework.html_safe %>
      </p>
    </div>
  </li>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">list</i>COURSE OUTLINE</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.modules.html_safe %>
      </p>
    </div>
  </li>
</ul>
</div>
</section>
