<%= content_for :title, course.name + ' [@CoderFactory]' %>
<%= content_for :description, course.name + ': ' + course.tagline if course.name && course.tagline %>
<%= content_for :image, asset_path(course.assessments) %>
<%= content_for :tagline, course.tagline %>




<section class="<%= course.color %>">
  <div class="container">
  <h1><i class="fa fa-<%= course.icon %>"></i> <%= course.name %> </h1>
  <!-- <span class="course-type">PART TIME</span> <span class="course-type">ENTREPRENEUR</span> -->
  <%= image_tag course.assessments %>
  <p class="flow-text">
    <%= course.tagline %>
  </p>
<% if course.course_intakes.upcoming.open.any? %>
 <!--  <h4>Next course starts soon (<%# distance_of_time_in_words(course.course_intakes.next.start_date, Date.today) %>)</h4> -->
  <ul class="collection">
    <%= render partial: 'course_intakes/upcoming_intakes', collection: course.course_intakes.upcoming.open, as: :intake %>
  </ul>
<% end %>
<h4>Program information</h4>
<ul class="collapsible" data-collapsible="accordion">
  <% unless course.description.empty? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">info_outline</i>OVERVIEW</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <%= course.description.html_safe %>
      <br>
    </div>
  </li>
  <% end %>
  <% unless course.audience.empty? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">supervisor_account</i>AUDIENCE</div>
    <div class="collapsible-body white grey-text text-darken-2"><p><%= course.audience.html_safe %></p></div>
  </li>
  <% end %>
  <% unless course.prerequisites.empty? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">tune</i>PRE-REQUISITES</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.prerequisites.html_safe %>
      </p>
    </div>
  </li>
  <% end %>
  
  <% unless course.outcomes.empty? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">assignment_turned_in</i>OUTCOMES</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.outcomes.html_safe %>
      </p>
    </div>
  </li>
  <% end %>
  <% unless course.format.empty? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">query_builder</i>FORMAT</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.format.html_safe %>
      </p>
    </div>
  </li>
  <% end %>
  <% unless course.payment.empty? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">local_atm</i>PAYMENT OPTIONS</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.payment.html_safe %>
      </p>
    </div>
  </li>
  <% end %>
  <% unless course.homework.empty? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">brightness_3</i>HOMEWORK</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.homework.html_safe %>
      </p>
    </div>
  </li>
  <% end %>
  <% unless course.modules.empty? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">list</i>COURSE OUTLINE</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.modules.html_safe %>
      </p>
    </div>
  </li>
  <% end %>
</ul>
<% if course.course_intakes.upcoming.open.any? %>
 <!--  <h4>Next course starts soon (<%# distance_of_time_in_words(course.course_intakes.next.start_date, Date.today) %>)</h4> -->
  <ul class="collection">
    <%= render partial: 'course_intakes/upcoming_intakes', collection: course.course_intakes.upcoming.open, as: :intake %>
  </ul>
<% end %>
<%= link_to "<i class='fa fa-question-circle right'></i> Enquire about this course".html_safe, new_enquiry_path(etype: 'partTime'), class: 'light-blue btn waves-light' %>
<br><br>
</div>
</section>
