<%= content_for :title, course.name + ' [@CoderFactory]' %>
<%= content_for :description, course.name + ': ' + course.tagline if course.name && course.tagline %>
<%= content_for :image, asset_path(course.assessments) %>
<%= content_for :tagline, course.tagline %>




<section class="<%= course.color %>">
  <div class="container">
  <br>
    <ul class="collection with-header z-depth-3">
        <li class="collection-header"><h2><i class="fa fa-<%= course.icon %> orange-text"></i> <%= course.name %></h2></li>
    </ul>
  <!-- <span class="course-type">PART TIME</span> <span class="course-type">ENTREPRENEUR</span> -->
  <%= image_tag course.assessments %>
  <p class="flow-text">
    <%= course.tagline %>
  </p>
<% if course.course_intakes.upcoming.open.any? %>
 <!--  <h4>Next course starts soon (<%# distance_of_time_in_words(course.course_intakes.next.start_date, Date.today) %>)</h4> -->
  <ul class="collection">
    <%= render partial: 'course_intakes/upcoming_intakes', collection: course.course_intakes.upcoming.open, as: :intake %>
  </ul>
<% end %>
<h4>Program information</h4>
<ul class="collapsible" data-collapsible="accordion">

  <% if !course.description.blank? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">info_outline</i>OVERVIEW</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <%= course.description.html_safe if course.description %>
      <br>
    </div>
  </li>
  <% end %>

  <% if !course.description.blank? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">supervisor_account</i>AUDIENCE</div>
    <div class="collapsible-body white grey-text text-darken-2"><p><%= course.audience.html_safe if course.audience %></p></div>
  </li>
  <% end %>

  <% if !course.prerequisites.blank? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">tune</i>PRE-REQUISITES</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.prerequisites.html_safe if course.prerequisites %>
      </p>
    </div>
  </li>
  <% end %>

  <% if !course.outcomes.blank? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">assignment_turned_in</i>OUTCOMES</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.outcomes.html_safe if course.outcomes %>
      </p>
    </div>
  </li>
  <% end %>

  <% if !course.format.blank? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">query_builder</i>FORMAT</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.format.html_safe if course.format %>
      </p>
    </div>
  </li>
  <% end %>

  <% if !course.payment.blank? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">local_atm</i>PAYMENT OPTIONS</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.payment.html_safe if course.payment %>
      </p>
    </div>
  </li>
  <% end %>

  <% if !course.homework.blank? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">brightness_3</i>HOMEWORK</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.homework.html_safe if course.homework %>
      </p>
    </div>
  </li>
  <% end %>

  <% if !course.modules.blank? %>
  <li>
    <div class="collapsible-header light-blue white-text"><i class="material-icons">list</i>COURSE OUTLINE</div>
    <div class="collapsible-body white grey-text text-darken-2">
      <p>
        <%= course.modules.html_safe if course.modules %>
      </p>
    </div>
  </li>
  <% end %>

</ul>

<%= link_to "<i class='fa fa-question-circle right'></i> Enquire about this course".html_safe, new_enquiry_path(etype: 'partTime'), class: 'light-blue btn waves-light' %>
<br><br>
</div>
</section>
