<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :course_type %>
    <%= f.input :name %>
    <%= f.input :icon %>
    <%= f.input :color %>
    <%= f.input :tagline %>
    <%= f.input :description %>
    <%= f.input :active, as: :select %>
    <%= f.input :slug %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
