<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :course_type %>
    <%= f.input :name %>
    <%= f.input :icon %>
    <%= f.input :color %>
    <%= f.input :tagline %>
    <%= f.input :description %>
    <%= f.input :audience %>
    <%= f.input :prerequisites %>
    <%= f.input :outcomes %>
    <%= f.input :format %>
    <%= f.input :payment %>
    <%= f.input :homework %>
    <%= f.input :assessments %>
    <%= f.input :modules %>

    <input value="0" type="hidden" name="course[active]" />
    
      <input class="boolean optional" type="checkbox" value="1" name="course[active]" id="course_active" <%= 'checked' if @course.active %> />
      <label class="boolean optional checkbox" for="course_active">Active
    </label>
    
    <%= f.input :slug %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
