<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :course_type, input_html: { class: 'browser-default'} %>
    <%= f.input :name %>
    <%= f.input :icon %>
    <%= f.input :color %>
    <%= f.input :tagline %>
    <%= f.input :description %>
    <%= f.input :audience , input_html: {value: f.object.homework || 'Open to everyone!'} %>
    <%= f.input :prerequisites , input_html: {value: f.object.homework || 'None'}%>
    <%= f.input :outcomes %>
    <%= f.input :format %>
    <%= f.input :payment , input_html: {value: f.object.homework || 'Enquire for additional payment information'}%>
    <%= f.input :homework , input_html: {value: f.object.homework || 'No homework specified'}%>
    <%= f.input :assessments %> <!-- Links to an image -->
    <%= f.input :modules , input_html: {value: f.object.homework || 'No modules specified'}%>

    <input value="0" type="hidden" name="course[active]" />
    
      <input class="boolean optional" type="checkbox" value="1" name="course[active]" id="course_active" <%= 'checked' if @course.active %> />
      <label class="boolean optional checkbox" for="course_active">Active
    </label>
    
    <%= f.input :slug %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
