<section class="grey lighten-2" id="top-section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card white">
          <div class="card-content">
            <h1><i class="fa fa-<%= @course.icon %>"></i> <%= @course.name %></h1>
            <p class="flow-text">
              <%= @course.tagline %>
            </p>
            <h3>Program information</h3>
<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header light-blue white-text"><i class="material-icons">info_outline</i>OVERVIEW</div>
      <div class="collapsible-body white grey-text text-darken-2">
        <%= @course.description.html_safe %>
        <br>
      </div>
    </li>
    <li>
      <div class="collapsible-header light-blue white-text"><i class="material-icons">supervisor_account</i>AUDIENCE</div>
      <div class="collapsible-body white grey-text text-darken-2"><p><%= @course.audience.html_safe %></p></div>
    </li>
    <li>
      <div class="collapsible-header light-blue white-text"><i class="material-icons">tune</i>PRE-REQUISITES</div>
      <div class="collapsible-body white grey-text text-darken-2">
        <p>
          <%= @course.prerequisites.html_safe %>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header light-blue white-text"><i class="material-icons">assignment_turned_in</i>OUTCOMES</div>
      <div class="collapsible-body white grey-text text-darken-2">
        <p>
          <%= @course.outcomes.html_safe %>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header light-blue white-text"><i class="material-icons">query_builder</i>FORMAT</div>
      <div class="collapsible-body white grey-text text-darken-2">
        <p>
          <%= @course.format.html_safe %>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header light-blue white-text"><i class="material-icons">list</i>COURSE OUTLINE</div>
      <div class="collapsible-body white grey-text text-darken-2">
        <p>
          <%= @course.modules.html_safe %>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header light-blue white-text"><i class="material-icons">local_atm</i>PAYMENT OPTIONS</div>
      <div class="collapsible-body white grey-text text-darken-2">
        <p>
          <%= @course.payment.html_safe %>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header light-blue white-text"><i class="material-icons">brightness_3</i>HOMEWORK</div>
      <div class="collapsible-body white grey-text text-darken-2">
        <p>
          <%= @course.homework.html_safe %>
        </p>
      </div>
    </li>
  </ul>



<p>
  
</p>



<%= link_to 'Back to part time courses', coder_factory_part_time_courses_path, class: 'btn light-blue' %>
</div></div></div></div></div></section>
