<div class="row">
  <div class="col s12 m12">
    <div class="card z-depth-3">
      <div class="card-image">
        <%= link_to post_path(post) do %>
              <%= image_tag(post.image) %>
            <% end %>
      </div>
      <div class="card-content blog-post">
              <%= link_to post_path(post) do %><h1><span class="card-title grey-text text-darken-2"><%= post.title %></span></h1><% end %>
        <div class="chip">
          <img src="<%= asset_path 'pete.jpg' %>" alt="<%= post.user.name if post.user %>">
          <%= post.user.name if post.user %>
        </div>
        <div class="chip">
          <%= post.published_date.strftime('%d %B %Y') %>
        </div>
          <hr>
        <p class="flow-text"><%= post.lead %></p>
      </div>
      <div class="card-action">
        <a href="/posts/<%= post.slug %>" class="right-align">Read more</a>
      </div>
    </div>
  </div>
</div>