<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-content">

  <p><strong>Course:</strong><%= @course_booking.course_intake.course.name %></p>
<p>
  <strong>Course intake:</strong>
  <%= @course_booking.course_intake.start_date %>
</p>

<p>
  <strong>Student:</strong>
  <%= @course_booking.user.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @course_booking.price %>
</p>

<p>
  <strong>Promo code:</strong>
  <%= @course_booking.promo_code %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @course_booking.paid %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @course_booking.completed %>
</p>

<%= link_to 'Edit', edit_course_booking_path(@course_booking), class: 'btn orange' %>
<%= link_to 'Delete', course_booking_path(@course_booking), method: :delete, class: 'btn red', data: { confirm: 'Are you sure?' }  %>
 |
<%= link_to 'Back', course_bookings_path %>
</div>
</div>