<%= simple_form_for(@feedback_form) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :course %>
    <%= f.association :course_location %>
    <%= f.input :expectations %>
    <%= f.input :recommend %>
    <%= f.input :another %>
    <%= f.input :satisfaction %>
    <%= f.input :value %>
    <%= f.input :best_part %>
    <%= f.input :comments %>
    <%= f.input :testimonial %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>