<p id="notice"><%= notice %></p>

<h1>Listing Enquiries</h1>

<table>
  <thead>
    <tr>
      <th>Enquiry type</th>
      <th>First name</th>
      <th>Company</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr class="<%= 'red-text' unless enquiry.responded_to %>">
        <td><%= enquiry.enquiry_type.name if enquiry.enquiry_type %></td>
        <td><%= enquiry.full_name %></td>
        <td><%= enquiry.company %></td>
        <td><%= enquiry.phone %></td>
        <td><%= enquiry.email %></td>
        <td><%= enquiry.created_at.strftime('%d/%m/%y') %>
        <td><%= link_to 'Read', enquiry %></td>
        <td><%= link_to 'Delete', enquiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

