<div class="row">
    <div class="col s12 m12">
      <div class="card z-depth-3 hoverable">
        <div class="card-content grey-text text-darken-2">
          <span class="card-title grey-text text-darken-2">Enquiries</span>
          <p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Enquiry type</th>
      <th>First name</th>
      <th>Company</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Date</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @enquiries.each do |enquiry| %>
      <tr class="<%= 'red-text bold' unless enquiry.responded_to %>">
        <td><%= enquiry.enquiry_type.name if enquiry.enquiry_type %></td>
        <td><%= enquiry.full_name %></td>
        <td><%= enquiry.company %></td>
        <td><%= enquiry.phone %></td>
        <td><%= enquiry.email %></td>
        <td><%= enquiry.created_at.strftime('%d/%m/%y') %></td>
        <td><%= link_to 'Read', enquiry %></td>
        <td><%= link_to 'Delete', enquiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<center>
            <%= will_paginate @posts, renderer: MaterializePagination::Rails %>
          </center>
</div></div></div></div>
