<div class="navbar-fixed">
<nav class="top-nav">
<div class="">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="<%= asset_path 'CoderFactoryLogoForWeb.png' %>" alt="Coder Factory" class="nav-logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      
      <ul class="right hide-on-med-and-down">
        <li class="<%= 'active' if current_page?('/coder-factory-workshops-for-beginners') %>"><a href="/coder-factory-workshops-for-beginners">Beginner Workshops</a></li>
        <li class="<%= 'active' if current_page?('/coder-factory-part-time-courses') %>"><a href="/coder-factory-part-time-courses">Part Time Courses</a></li>
        <li class="<%= 'active' if current_page?('/coding-workshops-for-businesses') %>"><a href="/coding-workshops-for-businesses">Business / Schools</a></li>
        <li class="<%= 'active' if current_page?('/fast-track-intensive-bootcamp') %>"><a href="http://coderfactoryacademy.com" target="_blank">Fast Track</a></li>
        <li class="<%= 'active' if current_page?('/community') %>"><a href="/community">Community</a></li>
       
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li class="<%= 'active' if current_page?('/coder-factory-workshops-for-beginners') %>"><a href="/coder-factory-workshops-for-beginners">Beginner Workshops</a></li>
        <li class="<%= 'active' if current_page?('/coder-factory-part-time-courses') %>"><a href="/coder-factory-part-time-courses">Part Time Courses</a></li>
        <li class="<%= 'active' if current_page?('/coding-workshops-for-businesses') %>"><a href="/coding-workshops-for-businesses">Business / Schools</a></li>
        <li><a href="http://coderfactoryacademy.com" target="_blank">Fast Track</a></li>
        <li><a href="/about">About us</a></li>
        <li class="<%= 'active' if current_page?('/blog') %>"><a href="/blog">Blog</a></li>
        <li class="<%= 'active' if current_page?('/community') %>"><a href="/community">Community</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div></div>
  </nav>
  </div>