<div class="navbar-fixed">
<nav class="top-nav">
<div class="">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img src="<%= asset_path 'CoderFactoryLogoForWeb.png' %>" alt="Coder Factory" class="nav-logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li class="<%= 'active' if current_page?('/learn-to-code') %>"><a href="/learn-to-code">Beginner Workshops</a></li>
        <li class="<%= 'active' if current_page?('/coding-courses') %>"><a href="/coding-courses">Part Time Courses</a></li>
        <li class="<%= 'active' if current_page?('/coding-bootcamp') %>"><a href="/coding-bootcamp">Fast Track</a></li>
        <li class="<%= 'active' if current_page?('/community') %>"><a href="/community">Community</a></li>
        <li class="<%= 'active' if current_page?('/contact') %>"><a href="/contact">Contact</a></li>

      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li class="<%= 'active' if current_page?('/learn-to-code') %>"><a href="/learn-to-code">Beginner Workshops</a></li>
        <li class="<%= 'active' if current_page?('/coding-courses') %>"><a href="/coding-courses">Part Time Courses</a></li>

        <li><a href="/about">About us</a></li>
        <li class="<%= 'active' if current_page?('/community') %>"><a href="/community">Community</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div></div>
  </nav>
  </div>