<div class="container">
<h2>Our industry partners</h2>
<div class="row">

        <div class="col m2">
         
            <a href="http://codeclubau.org/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/codeclubau.png' %>" alt="Locomote">
                
            </a>
        </div>
 <div class="col m2">      
          
            <a href="http://coderangers.com.au/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/coderangers.png' %>" alt="Code Rangers">
                
            </a>
           
        </div>
        <div class="col m2">
         
            <a href="https://www.dropbox.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/dropbox.png' %>" alt="Dropbox">
                
            </a>
       </div>
       <div class="col m2">
        
            <a href="http://www.woman.com.au/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/womancomau.jpg' %>" alt="Woman">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="https://muru-d.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/murud.png' %>" alt="muru-D">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="http://www.spacecubed.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/spacecubed.png' %>" alt="Spacecubed">
                
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col m2">     
            <a href="http://foundrmag.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/foundr.png' %>" alt="FoundR">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="https://www.coinjar.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/coinjar.png' %>" alt="Coinjar">
                
            </a>
       </div>
       <div class="col m2">
        
            <a href="http://www.pozible.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/pozible.png' %>" alt="Pozible">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="http://www.crowdsourcehire.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/crowdsourcehire.png' %>" alt="Crowd Source Hire">
                
            </a>
       </div>
       <div class="col m2">
        
            <a href="http://kapcher.co/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/kapcher.png' %>" alt="Kapcher">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="http://www.crowdsurfa.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/crowdsurfa.png' %>" alt="Crowd Surfa">
                
            </a>
        </div>
      </div>
      <div class="row">
        <div class="col m2">
         
            <a href="https://www.airpair.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/airpair.png' %>" alt="Airpair">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="https://nomadlist.io/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/nomadlist.png' %>" alt="Nomadlist">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="https://www.growthhacker.tv/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/growthhackertv.png' %>" alt="Growth Hacker TV">
                
            </a>
       </div>
        <div class="col m2">     
            <a href="http://www.lonelyplanet.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/lonelyplanet.png' %>" alt="Lonely Planet">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="http://www.sitepoint.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/sitepoint.png' %>" alt="Sitepoint">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="http://www.getvero.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/getvero.png' %>" alt="Vero">
                
            </a>
       </div>
      </div>
      <div class="row">
       <div class="col m2">
        
            <a href="https://learnable.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/learnable.jpg' %>" alt="Learnable">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="https://flippa.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/flippa.jpg' %>" alt="Flippa">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="https://zoak.solutions/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/Zoak.png' %>" alt="Zoak">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="http://www.dreamscapenetworks.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/dreamscape.png' %>" alt="Dreamscape">
                
            </a>
        </div>
        <div class="col m2">
         
            <a href="http://www.locomote.com/" target="_blank" class="">
                
                <img style="width: 300px;background-size:contain;background-position:center; background-repeat:no-repeat;" class="responsive-img" src="<%= asset_path 'partnerlogos/locomote.jpg' %>" alt="Locomote">
                
            </a>
        </div>
 
</div>
</div>
