<div id="customElement">
  <div class="container">
  	<div class="row">
  		<div class="col m12 hide-on-small-only center">
        <div class="align-center" id="customheader">
          <%= @header_title %>
        </div>

        <% if @header_tagline %>
          <div class="card semi-transparent-header-card2 header-box center">
            <div class="card-content white-text">
              <h4 class="center-align capitals orange-text"><i><%= @header_tagline %></i></h4>           
            </div>
          </div>
        <% end %>

        <% if current_page?(root_path) %>
          <%= render 'layouts/header_boxes' %>
        <% else %>
          <div class="down-arrow center-align">
            <br><br><i class="material-icons medium white-text">keyboard_arrow_down</i>
          </div>
        <% end %>
      </div>
      <div class="hide-on-med-and-up">
        <br>
        <h1 class="center-align" style="color:white;"><%= @header_title %></h1>
      </div>
      <% if @header_tagline %>
      <div class="card semi-transparent-header-card2 header-box center">
        <div class="card-content white-text">
          <h4 class="center-align capitals orange-text flow-text"><i><%= @header_tagline %></i></h4>           
        </div>
      </div>
      <% end %>
      <% if current_page?(root_path) %>
        <%= render 'layouts/header_boxes' %>
        <div class="down-arrow center-align">
          <br><br><i class="material-icons medium white-text">keyboard_arrow_down</i>
        </div>
      <% else %>
        <div class="down-arrow center-align">
          <br><br><i class="material-icons medium white-text">keyboard_arrow_down</i>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="video" class="player" data-property="{videoURL: '<%= @video_code %>',containment:'#customElement', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:true, quality:'highres'}"></div>

