<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : 'Learn to Code @CoderFactory' %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "This is a description" %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://use.typekit.net/hpa2uqd.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
  
</head>
<body>
<%= render 'layouts/navbar' %>

<%= render 'layouts/video_header' if @video %>
<%= render 'layouts/top_bar' unless current_page?(blog_path) %>
<%= yield %>
<%= render 'layouts/footer' %>

<script>
	$(document).ready(function () {
    $('select').material_select();
    $(".button-collapse").sideNav();
    $('.parallax').parallax();
    $('.slider').slider();
  });
</script>
<script>
    $(function(){
            jQuery(".player").mb_YTPlayer();
    });
  </script>
</body>
</html>
