<p id="notice"><%= notice %></p>

<h1>Listing Enquiry Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enquiry_types.each do |enquiry_type| %>
      <tr>
        <td><%= enquiry_type.name %></td>
        <td><%= enquiry_type.description %></td>
        <td><%= link_to 'Show', enquiry_type %></td>
        <td><%= link_to 'Edit', edit_enquiry_type_path(enquiry_type) %></td>
        <td><%= link_to 'Destroy', enquiry_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enquiry type', new_enquiry_type_path %>
